body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f0f14;
  color: white;
}

button {
  background: #5625C9;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
